## require all plugins
#foreach($pluginConfig in $pluginConfigs)
  Ext.require('$pluginConfig');
#end

## load the application
Ext.require('NX.app.Loader', function(Loader) {
  new Loader().load({
    pluginConfigs: [
      #foreach($pluginConfig in $pluginConfigs)
        '$pluginConfig'#if($foreach.hasNext),#end
      #end
    ],
    state: $state
  });
})
