/**
 * @since 3.22
 */

@import '../../../styles/colors';

.nxrm-information--row:nth-child(even){
  background-color: $almost-white;
}

.nxrm-information--name {
  font-weight: bold;
  text-align: right;
}
