<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Simple index</title>
</head>
<body>
  #foreach($asset in $assets)
  <a href="${asset.get('link')}">${asset.get('name')}</a><br/>
  #end
</body>
</html>
