<html lang="en">
<head><title>Links for ${name}</title>
  <meta name="api-version" value="2"/>
</head>
<body><h1>Links for ${name}</h1>
    #foreach($asset in $assets)
        #set($dataRequiresPython = ${asset.get('data-requires-python')})
    <a href="${asset.get('link')}" rel="internal"#if( "$dataRequiresPython" != "" )
       data-requires-python="$esc.html($dataRequiresPython)" #end>${asset.get('file')}</a><br/>
    #end
</body>
</html>
