
/*
  Style overrides for the react-shared-components. Once we've fully converted to React we should remove these overrides.
*/

@import "colors";
@import "~@sonatype/react-shared-components/scss-shared/nx-variables";

.x-body {
  line-height: $nx-line-height;

  .nx-tile-footer {
    text-align: left !important;
  }

  .nx-checkbox__box {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
  }

  .nx-footer {
    background-color: transparent; // undo the color set by extjs
  }
}
