/**
 * @since 3.29
 */
@import '~@sonatype/react-shared-components/scss-shared/nx-colors';
@import '~@sonatype/react-shared-components/scss-shared/nx-variables';


.nxrm-help-tile {
  margin: auto;
  width: $nx-paragraph-width-maximum;

  .nx-icon {
    color: $nx-dark-blue;
  }
}
