/**
 * @since 3.22
 */
@import '../../../styles/colors';

$nxrm-alert-margin: 8px;

.nxrm-alert {
  background-color: $nxrm-warn-color-bg;
  border: 1px solid $nxrm-warn-color;
  color: $nxrm-warn-color;
  margin: $nxrm-alert-margin;
  padding: 9px 8px 8px 8px;

  .svg-inline--fa {
    margin-right: 8px;
  }

  :first-child {
    margin-top: 0;
  }

  .nxrm-scrollable {
    margin-top: -8px;
    margin-right: -8px;
  }
}

.nxrm-alert--error {
  background-color: $nxrm-fail-color-bg;
  border-color: $nxrm-fail-color;
  color: $nxrm-fail-color;
}

.nxrm-alert--info {
  background-color: $nxrm-off-white;
  border-color: $nxrm-dark-blue;
  color: $nxrm-off-black;

  .svg-inline--fa {
    color: $nxrm-dark-blue;
    font-size: 16px;
  }
}
