/**
 * @since 3.29
 */

.checkbox-controlled-wrapper {
  .checkbox-children {
    display: inline-block;
  }
  .checkbox-control {
    display: inline-block;
    padding-right: 5px;
    padding-top: 3px;
    vertical-align: top;
    .nx-radio-checkbox {
      /* fix display for IE11 */
      width: 100%;
    }
  }
}
